# ignore everything
*

# except specific file
!.gitignore

# except specific file extensions
!*.md
!*.scala
!*.sbt
!*.conf
!*.txt
# except subdirectories (neccessary for the file extensions above to work correctly)
!*/