# ignore everything
*

# except specific file
!.gitignore

# except specific file extensions
!*.md
!*.scala
!*.ipynb
!*.txt
!*.html
!build.sbt
!build.properties
# except subdirectories (neccessary for the file extensions above to work correctly)
!*/